/*Estilos*/

footer {
    width: 100%;
    height: auto;
    border-top: 5px solid white;
    .footer--borderBottom {
        border-bottom: 5px solid white;
        .flechaGoUp {
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            margin-right: 50px;
            i {
                color: #E6B811;
                font-size: 40px;
                padding-top: 20px;  
                &:hover {
                    transform:scale(1.2);
                }
            }
        } 
        .footer__megamenu {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 50px;
            .megamenu {
                li {
                    padding: 5px;
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 18px;
                        text-transform: uppercase;
                        &:hover {
                            color: #E6B811;
                        }
                        &:focus {
                            color: #463805;
                        }
                    }
                }
            }
            .logoFooter {
                img {
                    width: 200px;
                    height: 150px;
                    border-radius: 50%;
                    margin-top: -20px;
                    margin-left: -20px;
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0.3em 0 0.7em #E6B811;
                    }
                }
            }
        }
    }
    .footer__copyright {
        display: flex;
        justify-content: center;
        padding: 20px;
        h6 {
            color: white;
        }
    }
}


/* MEDIA QUERY */

/* VISTA MOBILE 320px y 425px */

@media (min-width:320px) and (max-width:424px)  {
    .footer--grid {
        overflow: hidden;
        .footer--borderBottom {
            padding: 10px;
            .flechaGoUp {
                i {
                    display: none;
                }
            }
            .footer__megamenu {
                .megamenu {
                    li {
                        a {
                            font-size:15px;
                        }
                    }
                }
                .logoFooter {
                    img {
                        width: 100px;
                        height: auto;
                        margin-top: auto;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width:425px)  {
    footer {
        padding-top: 20px;
        .footer--borderBottom {
            .flechaGoUp {
               display: none;
            }
            .footer__megamenu {
                .megamenu {
                    li {
                        padding: 5px;
                        a {
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                    }
                }
                .logoFooter  {
                    img {
                        width: 100px;
                        height: 70px;
                        border-radius: 50%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}


/* VISTA TABLET 768x, 800px*/

@media (min-width: 768px) and (max-width:799px) {

}

@media (min-width: 800px) and (max-width:1023px){
    footer {
        padding-top: 50px;
        .footer--borderBottom {
            .flechaGoUp {
               display: none;
            }
            .footer__megamenu {
                .megamenu {
                    li {
                        padding: 5px;
                    }
                }
                .logoFooter {
                    img {
                        width: 200px;
                        height: 150px;
                        border-radius: 50%;
                        margin-top: 5px;
                        margin-right: -50px;
                    }
                }
            }
        }
    }
 }